<!doctype html>
<html>
<head>
    <meta charset="{{encoding}}">
    {{#version}}<meta name="generator" content="cleaver {{version}}" />{{/version}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{title}}</title>

    <meta name="description"
              content="">
    <meta name="author" content="Emily Stamey">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/white.css">
      <link rel="stylesheet" href="css/my-style.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="./node_modules/highlight.js/styles/zenburn.css">

    <style type="text/css">
        {{{style}}}
    </style>
</head>
<body>
<div class="reveal">
    <div class="slides">
      {{{slideshow}}}
    </div>
</div>
<script>
    {{{script}}}
</script>
</body>
</html>
